*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
.hero{
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
    padding-top: 3rem;
}
#hero_box{
    width: auto;
    height: 35rem;
    background-color: royalblue;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
}
html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
.link{
    width: 50%;
    display:flex;
    color: #202020;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 2rem;
}
#hero_img{
    /* position: absolute; */
    width: 24rem;
    height: 17rem;
    /* left: 10rem;
    top: 15rem; */
}
#hero_text{
    color: white;
    font-size: 4rem;
    /* margin-left: 50%;
    padding-top: 5rem; */
}
.nav-link{
    font-size: 1.5rem;
    text-decoration: none;
    color: #101010;
}
.nav-name{
    font-size: 4rem;
    color: royalblue;
    margin-left: 2rem;
}
nav{
    display: flex;
    margin: 2rem;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}
#resume_text{
    color: white;
    font-style:normal;
    padding: 1rem;
    margin: 0rem;
    background-color: rgb(86, 125, 243);

}

.headers{
    margin-left: 8rem;
    font-size: 2.5rem;
    color: rgb(50, 92, 218);
}
p{
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 1.5rem;
}

nav a:hover:not(.active){
    color: skyblue;
}
nav .active{
    background-color: brown;
}